In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns

In [4]:
df_test = pd.read_csv('ulm_test.csv')
df_train = pd.read_csv('ulm_train.csv')
stopwords = pd.read_csv('Stopwords.csv')

In [5]:
df_train.describe()

       label                                               text is_valid
count   1800                                               1800     1800
unique     6                                               1751        1
top       fe  গুহাচিত্র প্রচুর কাজ জমে থাকার পরও রবিবারকে ছু...    False
freq     300                                                  2     1800

In [6]:
df_train.head(6)

  label                                               text  is_valid
0    fe  সাম্প্রদায়িক সংঘাত ও মানবিক প্রতিরোধ সাম্প্রদা...     False
1    ij  আজ মাও সেতুং-এর জন্মদিন। মাও সে তুং। বারবার ইত...     False
2    mk  গোলাম আযমের বিরুদ্ধে অভিযোগ ৬১ টি, যেকোনো ১ টি...     False
3    rn  জলের সন্তরন- (এক) অনেক গুলো সাপ মিজানের শরীরের...     False
4    hm  খুবরগুড়ে . . . এইভাবে হতে থাকে ক্রমাগত কেউ মার...     False
5    hm  গোয়েন্দা ঝাকানাকা ও বিষ্ণুমূর্তি রহস্য গোয়েন...     False

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 3 columns):
label       1800 non-null object
text        1800 non-null object
is_valid    1800 non-null bool
dtypes: bool(1), object(2)
memory usage: 30.0+ KB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
label       300 non-null object
text        300 non-null object
is_valid    300 non-null bool
dtypes: bool(1), object(2)
memory usage: 5.1+ KB

In [11]:
df_train["label"].value_counts()

fe    300
ij    300
rn    300
mk    300
rg    300
hm    300
Name: label, dtype: int64

In [12]:
train = df_train
test = df_test

In [13]:
stopwords

      words
0       যান
1      কোনও
2     অন্তত
3      ভাবে
4      কারও
..      ...
439   হাজার
440   করিয়ে
441  থাকবেন
442    করেন
443    এমনি

[444 rows x 1 columns]

In [15]:

from bengali_stemmer.rafikamal2014 import RafiStemmer
stemmer = RafiStemmer()

ModuleNotFoundError: No module named 'bengali_stemmer'